# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large Media & Video Files (Exceeding GitHub 100MB limit)
public/videos/Converted Video/*.mp4
!public/videos/Converted Video/*-40s.mp4
!public/videos/Converted Video/OPD-Appointment-*.mp4
